Agent_AI___Teste_SteepOperations.json
{
  "name": "Agent AI - Teste Steep Operations",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        500,
        700
      ],
      "id": "b2cd64ac-0605-4324-af35-a7d784c5808d",
      "name": "AI Agent",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        260,
        1060
      ],
      "id": "d986f004-d5aa-4615-b59c-410161d9293a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "whXqJpTO3uKwRVkh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('When chat message received').item.json.chatInput }}",
        "contextWindowLength": 1
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        420,
        1060
      ],
      "id": "aeb27642-de28-4cba-bef1-1cf3230a661c",
      "name": "Window Buffer Memory1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PG1ePJztoGaMpOn0Il18Th3BQgaDejA49w1Xb9bwFAA",
          "mode": "list",
          "cachedResultName": "Planilha Exemplo - Case Chainlink",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PG1ePJztoGaMpOn0Il18Th3BQgaDejA49w1Xb9bwFAA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PG1ePJztoGaMpOn0Il18Th3BQgaDejA49w1Xb9bwFAA/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -300,
        680
      ],
      "id": "887f6a24-e9ec-4bc8-9523-9b6a8c46abf6",
      "name": "Google Sheets2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VOrSVYTx0mO6Miaf",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 6,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        20,
        680
      ],
      "id": "6871d77d-5e89-44cf-8546-e611ccf0c8a6",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        280,
        700
      ],
      "id": "db1d4050-59e3-4239-8e38-16d88623a49a",
      "name": "Wait",
      "webhookId": "8f11b460-c547-4b8e-8b89-fe8f714a3b68"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -580,
        680
      ],
      "id": "71498e49-1580-4952-a5fe-96f8bd7a1bbc",
      "name": "When chat message received",
      "webhookId": "591fc7b6-a9b9-4960-a626-1b2c7bbe568d"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PG1ePJztoGaMpOn0Il18Th3BQgaDejA49w1Xb9bwFAA",
          "mode": "list",
          "cachedResultName": "Planilha Exemplo - Case Chainlink",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PG1ePJztoGaMpOn0Il18Th3BQgaDejA49w1Xb9bwFAA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        620,
        1060
      ],
      "id": "0edd205e-11f8-45b4-b334-7e2a09a6edfb",
      "name": "Read G Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VOrSVYTx0mO6Miaf",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1PG1ePJztoGaMpOn0Il18Th3BQgaDejA49w1Xb9bwFAA",
          "mode": "list",
          "cachedResultName": "Planilha Exemplo - Case Chainlink",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PG1ePJztoGaMpOn0Il18Th3BQgaDejA49w1Xb9bwFAA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "mode": "name",
          "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Sheet', ``, 'string') }}"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('ID__using_to_match_', ``, 'string') }}",
            "Name": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Name', ``, 'string') }}",
            "Car": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Car', ``, 'string') }}",
            "City of Origin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('City_of_Origin', ``, 'string') }}",
            "Skills": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Skills', ``, 'string') }}",
            "input": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('input', ``, 'string') }}",
            "output": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('output', ``, 'string') }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Car",
              "displayName": "Car",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "City of Origin",
              "displayName": "City of Origin",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Skills",
              "displayName": "Skills",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        760,
        1060
      ],
      "id": "274a2f8a-a7a7-44ad-9494-deaf36ece6e2",
      "name": "Write G Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VOrSVYTx0mO6Miaf",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "douglas.valentin220@gmail.com",
          "mode": "list",
          "cachedResultName": "douglas.valentin220@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        920,
        1060
      ],
      "id": "ed8e3f63-ab7f-432a-a0c5-99ad800fa94c",
      "name": "Read G Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "DCHBMO90Adrx6Vga",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "douglas.valentin220@gmail.com",
          "mode": "list",
          "cachedResultName": "douglas.valentin220@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "color": "9",
          "showMeAs": "opaque"
        },
        "remindersUi": {
          "remindersValues": [
            {
              "method": "popup",
              "minutes": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1060,
        1060
      ],
      "id": "b1e6de17-4267-4ba7-9251-6a5533f4a47b",
      "name": "Write G Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "DCHBMO90Adrx6Vga",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "calendar": {
          "__rl": true,
          "value": "douglas.valentin220@gmail.com",
          "mode": "list",
          "cachedResultName": "douglas.valentin220@gmail.com"
        },
        "eventId": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}",
        "updateFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1220,
        1060
      ],
      "id": "693243b5-2462-46ce-88c0-0e2d8dc958ad",
      "name": "Update G Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "DCHBMO90Adrx6Vga",
          "name": "Google Calendar account 2"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "user",
        "owner": {
          "__rl": true,
          "value": "Valentin-Douglas",
          "mode": "list",
          "cachedResultName": "Valentin-Douglas",
          "cachedResultUrl": "https://github.com/Valentin-Douglas"
        },
        "returnAll": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}"
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1,
      "position": [
        1380,
        1060
      ],
      "id": "d44dea18-0a4b-42d6-962c-c3d638788eb8",
      "name": "GitHub",
      "credentials": {
        "githubOAuth2Api": {
          "id": "5cIxBu0kDmxywpVx",
          "name": "GitHub account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Google Sheets2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Google Sheets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read G Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Write G Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Read G Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Write G Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update G Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GitHub": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "BI5pn1h5ltpO7MLi"
  },
  "versionId": "3b9344f7-76b9-4385-8dfc-dbaff61d5c70",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "99cd1b84888b34da54a227413b91a56352bb714c73dcd22661ecd7ce2bc072d6"
  },
  "id": "BI5pn1h5ltpO7MLi",
  "tags": []
}